* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 80vw;
    margin: auto;
    background-color: #f5f5eb;
}

.h1-task__title {
    font-size: 2.2rem;
    padding: 1rem 0;
}


/* accordion */
.accordion {
    width: 50vw;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.accordion-item {
    margin-bottom: 1rem;
    font-size: 2rem;
    transition: 0.5s;
}

.accordion-item__input {
    display: none;
}

.accordion-item__trigger {
    display: block;
    padding: 1rem;
    font-weight: bold;
    border: .125rem dashed rgb(132, 122, 122);
    transition: 0.5s;
    background-image: url(../img/icon_pulse.png);
    background-repeat: no-repeat;
    background-size: 0;
    background-position: top 1rem right 1rem;
    cursor: pointer;
    color: #0442ae;
}

.accordion-item__content {
    display: block;
    text-align: center;
    border-top: 0;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    height: 0;
}

.accordion-item__input:checked~.accordion-item__trigger {
    background-color: #F0F8FF;
    background-image: url(../img/icon_cross.png);
    color: #000;
}

.mem {
    width: 0;
    transition: 0.5s;
}

.accordion-item__input:checked~.accordion-item__trigger .mem {
    width: 30vw;
}
.accordion-item__input:checked~.accordion-item__trigger .accordion-item__content {
    height: auto;
}



.accordion-item:active .accordion-item__trigger  {
    color: #0442ae;
    background-image: url(../img/icon_cross-active.png);
}

.accordion-item:active .mem {
    background-color: rgb(184, 189, 189);
}

/* media start */

/* when hover is supported */
@media (hover: hover) {
    
    .accordion-item:hover .mem {
        width: 30vw;
    }

    .accordion-item:hover .accordion-item__trigger {
        background-image: url(../img/icon_cross.png);
    }

    .accordion-item:hover .accordion-item__content  {
        height: auto;
    }

    .accordion:hover .accordion-item__trigger {
        background-size: 1.8rem;
        color: #000;
    }
  }

/* this media query will work for breakpoint 1920x1080  */
@media screen and (min-width: 821px) {

    .accordion-item:active .accordion-item__trigger  {
        color: #0442ae;
        background-image: url(../img/icon_cross-active.png);
    }

    .accordion-item:active .mem {
        background-color: rgb(184, 189, 189);
    }
        
}
/* this media query will work for breakpoint 820x1180  */
@media screen and (max-width: 820px) {
    .wrapper {
        width: 90vw;
    }
    
    .accordion {
        width: 60vw;

    }
    .accordion-item__trigger {
        background-position: top 0.7rem right 0.5rem;

    }

    .h1-task__title {
        font-size: 2.0rem;
    }

    .accordion-item {
        font-size: 1.5rem;
    }

    .accordion-item__trigger {
        background-size: 1.7rem;
    }

    .accordion-item__input:checked~.accordion-item__trigger .mem {
        width: 45vw;
    }
}

/* this media query will work for breakpoint 320x568  */
@media screen and (max-width: 320px) {
    .wrapper {
        width: 95vw;
    }

    .h1-task__title {
        font-size: 1.5rem;
    }

    .accordion-item {
        font-size: 0.9rem;
    }

    .accordion-item__input:checked~.accordion-item__trigger .mem {
        width: 45vw;
    }

    .accordion-item__trigger {
        background-size: 1.2rem;
    }
}

