* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: auto;
    background-color: #f5f5eb;
}

.h1-task__title {
    font-size: 2.2rem;
    padding: 1rem 0;
}


/* accordion */
.accordion {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.accordion-item {
    margin-bottom: 1rem;
    font-size: 2rem;
    transition: 0.5s;

}

.accordion-item__input {
    display: none;
}

.accordion-item__trigger {
    display: block;
    padding: 1rem;
    font-weight: bold;
    border: .125rem dashed rgb(132, 122, 122);
    transition: 0.5s;
    background-image: url(../img/icon_pulse.png);
    background-repeat: no-repeat;
    background-size: 0;
    background-position: top 5% right 2%;
    cursor: pointer;
    color: #0442ae;

}

.accordion-item__content {
    display: block;
    text-align: center;
    border-top: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.accordion-item__input:checked~.accordion-item__trigger {
    background-color: aliceblue;
    background-image: url(../img/icon_cross.png);
    color: #000;
}



.accordion:hover .accordion-item__trigger {
    background-size: 1.8rem;
    color: #000;
}

.mem {
    width: 25rem;
}

.accordion-item:hover .accordion-item__content {
    height: auto;
    padding: 1rem 0;
}

.accordion-item__input:checked~.accordion-item__trigger .accordion-item__content {
    height: auto;
    padding: 1rem 0;
}

/* media start */

@media screen and (max-width: 820px) {
    .wrapper {
        width: 90%;
    }

    .h1-task__title {
        font-size: 2.0rem;
    }

    .accordion-item {
        font-size: 1.5rem;
    }

    .mem {
        width: 22rem;
    }

    .accordion-item:hover .accordion-item__content {
        height: 0;
    }

    .accordion-item__trigger {
        background-size: 1.8rem;
    }
}

@media screen and (max-width: 700px) {

    .mem {
        width: 15rem;
    }
}

@media screen and (max-width: 700px) {

    .mem {
        width: 10rem;
    }
}
@media screen and (max-width: 320px) {
    .wrapper {
        width: 90%;
    }

    .h1-task__title {
        font-size: 1.5rem;
    }

    .accordion-item {
        font-size: 0.92rem;
    }

    .mem {
        width: 8rem;
    }
}